.Button {
    text-decoration: none;
    border-radius: 25;
    margin: 0 5px;
    width: auto;
    /* padding: 10px; */
    /* font-size: 5px; */
    background: #306bf5;
    border-radius: 8px;
    display: flex;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    font-size: larger;
}

  table {
      border-collapse: collapse;
      border: 1px solid #ccc;
  }

  td,
  th {
      padding: 10px;
  }

  th {
      background: #000;
      color: #fff;
      text-transform: uppercase;
  }

  td {
      text-align: center;
      border-bottom: 2px solid #111;
      color: #333;
      font-size: 18px;
  }